
  <div class="rewards">
    <h1>Your rewards page!</h1>
    <h3>Go to <a [routerLink]="['/toggle-dashboard']">Toggle It Dashboard</a> for activating/deactivating features as you like!</h3>
  </div>

  <div class="component_container">

  <div *ngFor="let feature of features">
    <div>
      <div *toggleIt="feature.enabled">
        <div class="component active">Hi, I'm <b>{{feature.key}}</b> and I'm active!</div>
      </div>
      <div *toggleIt="!feature.enabled">
        <div class="component inactive">Hi, I'm <b>{{feature.key}}</b> and I'm deactivated!</div>
      </div>
    </div>
  </div>



  </div>
